* {
	box-sizing:border-box;
}

body {
    margin: 0 auto;
}

#carousel {
    margin: 0 auto;
    text-align: center;
    width: 400px;
    height: 300px;
    border: 5px;
    border-color: aquamarine;
    overflow: hidden;
    position: relative;
}

.slide-img {
    background-size: cover;
}

.slide-1 {
	background-image: url(https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/HH2ZMUI6PO.jpg);
    background-position: 50% 50%;
}
.slide-2 {
	background-image: url(https://placekitten.com/g/200/200)
}
.slide-3 {
	background-image: url(https://placekitten.com/g/200/200)
}
.slide-4 {
	background-image: url(https://placekitten.com/g/200/200)
}
ul {
    width: 2000px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    width: 400px;
    float: left;
    height: 300px;
}

#carousel > div {
    color: azure;
    font-size: 30px;
    position: absolute;
}

.iconLeft {
    top: 50%;
    left: 5%;
}

.iconRight {
    top: 50%;
    right: 5%;
}