* {
	box-sizing:border-box;
}

body {
    margin: 0 auto;
}

#carousel {
    margin: 0 auto;
    text-align: center;
    width: 400px;
    height: 300px;
    border: 5px;
    border-color: aquamarine;
    overflow: hidden;
}

ul {
    width: 2000px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    width: 400px;
    float: left;
    height: 300px;
}

.iconRight {
    top: 50%;
    right: 5%;
}

.iconCenter {
    bottom: 2%;
    right: 50%;
    transform: translateX(50%);
}